@ViewData["xxx"]

@model IndexViewModel


@{
    ViewData["Title"] = "Kanban Board";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<table BORDER="5" WIDTH="50%" CELLPADDING="4" CELLSPACING="3">
    <tr>
        @foreach (var column in Model.Columns)
        {
            <th>@column.Name</th>
        }
    </tr>

    @for (int row = 0; row < Model.RowCount; row++)
    {
        <tr>
            @for (int col = 0; col < Model.ColumnCount; col++)
            {
                <td>@((row + 1 > Model.ColumnLength[col]) ? "" : Model.Columns[col].Issues[row].Fields.Summary)</td>
            }
        </tr>
    }

</table>

