
﻿.display-linebreak {
    white-space: pre-line;
}

body {
    font: normal 84% "Segoe UI", Arial;
    background-color: #333;
    color: #fff;
}

#board {
    display: table;
    width: 100%;
    table-layout: fixed; /* For cells of equal size */
}

#board section {
    display: table-cell;
    text-align: left;
}

.column-wrapper {
    background-color: #333;
    margin: 0 4%;
}

h2, h3{
    padding: 3px 8px;
}

h2 {
    text-transform: uppercase;
    margin: .5em 0 0 0;
    border-bottom: 1em solid #333;
}

h3 {
    font-weight: normal;
    padding-top: .45em;
    padding-bottom: .45em;
    margin: 0;
}

thead {
    font-size: 20px;
}

tbody {
    font-size: 15px;
}


article + article {
    margin-top: 3em;
}

article > a > .information {
    text-align: justify;
}

article > a > .information > div {
    display: inline-block;
    width:33%;
    text-align:center;
}

a:link {
    color: white;
    text-decoration:none;
}

input, select, textarea,button {
    color: #000000;
}

.Link {
    color: white;
    text-decoration: none;
}

.LinkText:link {
    color: white;
}


.LinkText:visited {
    color: white;
}

.LinkText:hover {
    color: wheat;
}

.BoardNames {
    text-align: center;
    margin-bottom: 10px;
}

.NamesBar {
    display: inline-block;
}

.TicketText {
    color: black;
}

.Progress {
    background: #000;
    color: black;
}

.ProgressTime {
    position: absolute;
    right: 5px;
    color: white;
}

.ColumnTitle {
    text-align:center;
}

.CheckBox {
    text-align:center;
}

.FormElement {
    display: inline-block;
    font-size: 20px;
    margin: 10px;
    margin-bottom: 30px;
}

.FormButton {
    display: inline-block;
    height: 40px;
}

.LoginInputElement {
    color: black;
    width: 150px;
}

.LoginButton {
    color: black;
    width: 150px;
    margin-top: 20px;
    height: 30px;
}

.LoginCenter {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.EditDeletePresButton {
    width: 30px;
}